*, html, body{
    padding: 0;
    margin: 0;
}
body{
    background: #000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
section{
    padding: 1em 3rem 0.5rem 2rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(19, auto);
    grid-gap: 0.3rem;
}

.grid-item h1{
    padding: 0rem 1rem 1rem 1rem;
    text-align: center;
}
.grid-item p{
    padding: 0.2rem;
}
div.Group{
    text-align: center;
    font-size: 0.8rem;
    align-self: center;
}
div.Group, .Group-title{
margin-bottom: 2rem;
}
.period, .Group-title{
margin-right: 3rem;
}
.period{
    text-align: center;
    align-self: center;
    font-size: 0.8rem;
}

.span1{
    grid-column: 2/3;
}
.span2{
    grid-column: 19/20;
}
.span3{
    grid-column: 3/4;
}
.span4{
    grid-column: 14/15;
}
.span5{
    grid-column: 3/4;
}
.span6{
    grid-column: 14/15;
}

/* for mobile */
@media screen and (min-width: 320px) and (max-width: 768px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(19, auto);
        grid-gap: 0.3rem;
    }
    section{
        padding: 0.3rem 0.2rem 0.5rem 0.2rem;
    }
    .grid-item h1{
        padding: 0rem 0.6rem 0.6rem 0.6rem;
        text-align: center;
        font-size: 1rem;
    }
    .grid-item p{
        padding: 0.1rem;
    }
    .period, .Group-title{
        margin-right: 0.2rem;
        }
    
}